/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Border Box
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// STYLING FOR PROJECT
// Header
#header {
  background-color: rgba(0,0,0,0.3);
  .container {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  form {
    label {
      input {
        background-color: transparent;
        font-size: 1.4rem;
        line-height: 1.2rem;
        padding: 0;
        border-width: 0;
        width: 150px;
      }
      input::placeholder {
        color: white;
      }
    }
    #submit {
      font-size: 1.2rem;
      font-weight: bold;
      padding: 10px 15px;
      color: white;
      background: orange; 
      border:0 none;
      cursor:pointer;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      line-height: 1.2rem;
    }
  }
}
#bg-gradient {
  background-image: linear-gradient(-140deg, rgb(109, 91, 232), rgb(183, 94, 233))
}
.full-width {
  width: 100%;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  .content {
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-color: #fdfdfd;
    min-height: 400px;
  }
}
// Hero
.hero-wrapper {
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
// Forecast Highlight
.forecast-highlight {
  width: 300px;
  height: 450px;
  border-radius: 10px;
  background-image: linear-gradient(-120deg, rgb(0, 117, 206), rgb(7, 168, 209));
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.50);
  .date {
    font-size: 1.8rem;
    margin-bottom: 5px;
  }
  .location {
    font-size: 1.6rem;
    font-weight: bold;
    :last-child {
      text-transform: upper-case; 
    }
  }
  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    img {
      height: auto;
      width: 150px;
      fill: #fff;
    }
    .degrees {
      font-size: 2.8rem;
      font-weight: bold;
      color: #fff;
      text-align: center;
    }
  }
  .wind, .humidity {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
  }
  .humidity {
    margin-top: 10px;
  }
}
// Forecast Regular
.forecast {
  width: 150px;
  height: 450px;
  background-image: linear-gradient(-120deg,rgb(183, 94, 233), rgb(109, 91, 232));
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.50);
  .date {
    font-size: 1.8rem;
    margin-bottom: 5px;
  }
  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 40px;
    img {
      height: auto;
      width: 120px;
      fill: #fff;
      margin-bottom: 10px;
    }
    .degrees {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
    }
  }
}
// Description
.text {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  .subtitle {
    font-size: 1.4rem;
    margin-top: 10px;
  }
  p {
    font-size: 1.2rem;
    margin-top: 40px;
    line-height: 1.4rem;
  }

}